<li>
  <%= gravatar_for public_user, :size=>30 %>
  <%= link_to public_user.name, public_user %>
  <% if current_user.admin? %>
      |
      <%= link_to "Удалить", public_user, :method=>:delete, :confirm => "Вы уверены, что хотите удалить? #{public_user.name}",
                  :title => "Удалить #{public_user.name}" %>
  <% end %>
</li>