# encoding: utf-8
<% @page_title="Зарегистрированные пользователи сайта" %>

<h1>Зарегистрированные пользователи сайта</h1>
<%= will_paginate %>

<ul id="userinfo">
    <%= render @public_users %>
  </ul>
<%= will_paginate %>
