# encoding: utf-8
<% @page_title="Регистрация" %>
<h1>Регистрация</h1>
<%= form_for(@public_user) do |f| %>
    <%= render(:partial => "fields", :locals => {:f=> f}) %>
    <div>
      <%= f.submit "Зарегистрироваться", :class=>"button" %>
      <br/>
    </div>


<% end %>
