# encoding: utf-8
<% @page_title="Регистрация" %>
<div class="dialog">
  <h2>Регистрация</h2>
  <%= form_for(@public_user) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= render(:partial => "fields", :locals => {:f=> f}) %>
      <fieldset class="submit">
        <div>
          <%= f.submit "Зарегистрироваться", :class=>"submit" %>
        </div>
      </fieldset>
  <% end %>
</div>
<a href="/signin" id="message">
  Вы уже зарегистрированы? &nbsp; &nbsp; &nbsp;<span> Вход</span>
</a>