# encoding: utf-8
<% if object.errors.any? %>
    <div id="error_explanation">
      <h2>
        Обнаружено:

        <%= object.errors.count %>  <%= I18n.translate :errors, :count=> object.errors.count %>

      </h2>
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= translate message %></li>
        <% end %>
      </ul>
    </div>
<% end %>