         <% @page_title='Главная' %>
         <div class="shadow-box">
<h1 class="alt">Добро пожаловать!</h1>
<p>Мы рады приветствовать Вас на официальном сайте Прихода храма Покрова Божией Матери  в хуторе Ветютнев Фроловского района. Здесь вы не только узнаете об истории и жизни нашего прихода, но и окунетесь в его дружескую и семейную атмосферу. Вы сможете:</p>
         <ul>
 <li> следить за новостями и участвовать в жизни Прихода храма Покрова Божией Матери;</li>
<li>	быть в курсе последних событий, имеющих значение для Церкви;</li>
<li>стать первым читателем ежемесячного номера приходской газеты "Избери жизнь", а также других статей постоянных авторов газеты;</li>
<li>найти единомышленников по своим интересам;</li>
<li>задать вопрос батюшке любым удобным вам способом, а также оставить записку на поминовение;</li>
<li>познакомиться поближе с  историей храмов Фроловского благочиния;  </li>
<li>наконец, быть одним из наших гостей, которым мы всегда рады и всегда ждем!</li> </ul>
<p>Потому что нашей первейшей задачей является созидание Прихода как общины православных христиан, в которой есть место для каждого.</p>
  </div>
         <div class="shadow-box">

  <h1 class="alt">Новости Прихода</h1></div>


