<% @page_title='Главная' %>
<div class="shadow-box">
  <div class="hd">
  <h1>Добро пожаловать!</h1></div>
  <p>Мы рады приветствовать Вас на официальном сайте Прихода храма Покрова Божией Матери в хуторе Ветютнев Фроловского
    района. Здесь вы не только узнаете об истории и жизни нашего прихода, но и окунетесь в его дружескую и семейную
    атмосферу. Вы сможете:</p>
  <ul>
    <li> следить за новостями и участвовать в жизни Прихода храма Покрова Божией Матери;</li>
    <li> быть в курсе последних событий, имеющих значение для Церкви;</li>
    <li>стать первым читателем ежемесячного номера приходской газеты "Избери жизнь", а также других статей постоянных
      авторов газеты;
    </li>
    <li>найти единомышленников по своим интересам;</li>
    <li>задать вопрос батюшке любым удобным вам способом, а также оставить записку на поминовение;</li>
    <li>познакомиться поближе с историей храмов Фроловского благочиния;</li>
    <li>наконец, быть одним из наших гостей, которым мы всегда рады и всегда ждем!</li>
  </ul>
  <p>Потому что нашей первейшей задачей является созидание Прихода как общины православных христиан, в которой есть
    место для каждого.</p>
</div>


<div class="shadow-box">
  <div class="hd"> <h1>Новости Прихода</h1></div> </div>

<div class="shadow-box">
   <div class="hd"><h1>Видео</h1> </div>
     <p> 21 Ноября 2011 г. - Престольный праздник в честь Архистратига Божия Михаила в с. Большая Ивановка. Проповедь Благочинного о. Аркадия Власова после Божественной Литургии.</p>
     <div id="media">

       <object id="csSWF" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="320" height="258" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0">
                       <param name="src" value="swf/Michael_archangel/Michael_archangel_controller.swf"/>
                       <param name="bgcolor" value="#1a1a1a"/>
                       <param name="quality" value="best"/>
                       <param name="allowScriptAccess" value="always"/>
                       <param name="allowFullScreen" value="true"/>
                       <param name="scale" value="showall"/>
                       <param name="flashVars" value="autostart=false#&thumb=swf/Michael_archangel/FirstFrame.png&thumbscale=65&color=0xf9f9fc,0xf9f9fc"/>
                       <embed name="csSWF" src="swf/Michael_archangel/Michael_archangel_controller.swf" width="320" height="258" bgcolor="#1a1a1a" quality="best" allowScriptAccess="always" allowFullScreen="true" scale="showall" flashVars="autostart=false&thumb=swf/Michael_archangel/FirstFrame.png&thumbscale=65&color=0xf9f9fc,0xf9f9fc" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
                   </object>

        </div>
</div>



