<% @page_title="Создание новой секции" %>
<%= link_to("<< К списку секций", {:action=> 'list', :page_id => @page.id}, :class => 'box back-link', :box=>"yes") %>
<div class="section new">
  <h2>Создание новой секции</h2>
  <%= form_for(:section, :url=>{:action=> 'create', :page_id => @page.id}) do |f| %>
      <%= render(:partial => "form", :locals => {:f=> f}) %>
      <div class="button-container">
        <%= submit_tag('Создать секцию') %>
      </div>
  <% end %>
</div>