<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Создан <%= time_ago_in_words(micropost.created_at)  %> назад.
    </span>
  </td>
</tr>